*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    padding: 10px;
    width: 100%;
    max-width: 750px;
    background-color: green;
    border-radius: 20px;
    text-align: center;
    margin: 10px auto;
}

h2 {
    font-size: 1.5em;
    padding: 15px;
    border-radius: 12px;
    background-color: orange;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    color: white;
}

main {
    width: 100%;
    height: 100%;
}

header {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header > ul, nav > ul {
    display: flex;
}

ul {
    list-style: none;
}

footer {
    width: 100%;
    height: 250px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 35px;
    margin-left: 35px;
}

nav > ul > li > button {
    width: 100px;
    height: 100px;
    background-color: green;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

nav > ul > li > button:hover {
    background-color: darkgreen !important;
    transition-duration: 0.2s;
}

.banner{
    width: 100%;
    height: 450px;
    background-color: yellow;
}

#categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#categories > div {
    height: 100%;
    width: 25%;
    text-align: center;
}

#categories > div > img {
    width: 100%;
    height: 575px;
    background-color: red;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
}

#description {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

#col1, #col2, #col3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#col1, #col2 {
    width: 20%;
}

#col3 {
    width: 30%;
}

#sub3 {
    height: 35%;
}